# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE related
.idea/
.vscode/
*.iml

# Other
*.lock
